[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-jet = "*"
djangorestframework = "*"
pillow = "*"
six = "*"
django-cors = "*"
django-cors-headers = "*"
django-webpack-loader = "*"

[dev-packages]

[requires]
python_version = "3.6"
