{% extends 'index.html' %}

{% block content %}
    <h1>Customer information:</h1>
    <p><a href="{{ customers.get_update_url }}"> update</a></p>

 <h2> name: {{ customers.name }}</h2>
    <div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Address</th>
            </tr>
          </thead>

            <tbody>
                <tr><td>Address 1 </td><td>{{ customers.address1 }}</td></tr>
                <tr><td>Address 2 </td><td>{{ customers.address2  }}</td></tr>
                <tr><td>Address 3 </td><td>{{ customers.address3 }}</td></tr>
                <tr><td>Country </td><td>{{ customers.country }}</td></tr>
                <tr><td>State/Prov </td><td>{{ customers.state }}</td></tr>
                 <tr><td>Zip-Postal </td><td>{{ customers.zip }}</td></tr>
            </tbody>
        </table>
    </div>
        <div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Additional Info: </th>
            </tr>
          </thead>
            <tbody>
                <tr><td>E-mail </td><td>{{ customers.email }}</td></tr>
                <tr><td>Phone </td><td>{{ customers.phone  }}</td></tr>
                <tr><td>Website </td><td>{{ customers.website }}</td></tr>
                <tr><td>Active Account </td><td>{{ customers.isActive }}</td></tr>
                <tr><td>Accounted Created On </td><td>{{ customers.createdOn }}</td></tr>
            </tbody>
        </table>
    </div>



{% endblock %}
